*{
    margin: 0;
    padding: 0;
}

body
{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#mf{
    width: 90vw;
    height: 80vh;
    background-color: rgba(202, 183, 255, 0.77);
    position: absolute;
    top:10vh;
    left:4vw;
    border: 1vw groove rgba(126, 83, 255, 0.89);


    animation: myfirst 5s;
   

}
#lil{
    text-align:center;
    animation: myfirst 5s;
}


@keyframes myfirst
{
    from {
        height: 0vh;

    }
    to {
        height: 80vh;
    }

}
